<!DOCTYPE html>
<html>
  <head>
    <title>Spreadyou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <div id="root"></div>
    <%= javascript_bundle_tag 'main' %>
  </body>
</html>
